<igx-grid [data]="northWindCRUDCategory" primaryKey="categoryId" displayDensity="cosy" [rowEditable]="true" [allowFiltering]="true" filterMode="excelStyleFilter" (rowAdded)="categoryRowAdded($event)" (rowEditDone)="categoryRowEditDone($event)" (rowDeleted)="categoryRowDeleted($event)" class="grid">
  <igx-column field="categoryId" dataType="number" header="categoryId" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="description" dataType="string" header="description" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="name" dataType="string" header="name" [sortable]="true" [selectable]="false"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
</igx-grid>
